html {
    --gray: #bbb !important; //special text
    --gray-text: #F29966  !important; 
    --body-color: #fff !important; //most text
    --body-bg: #1b252e !important; //background
  }

.highlight, body pre.highlight {
    color: #abb2bf !important;
  }

div.highlight>.pre-header, .pre-base  {
    background-color: black !important;
}