---
layout: base
---

{% if page.title.size > 0 %}
  <header>
    <h1 class="page-title">{{ page.title }}</h1>
    {% include message.html text=page.description %}
  </header>
  <hr class="sr-only"/>
{% endif %}


{% capture s %}{{ page.slug }}{% endcapture %}
{% assign posts = site.categories[s] %}

{% for post in posts %}
<ul>
<li class="h4">
<a href="{{ post.url | relative_url }}" data-flip="title">
<span >{{ post.title }}</span>
</a>
<span class="faded"> - {{ post.description }} </span> 
</li>
</ul>
{% endfor %}

